a {
    text-decoration: none;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.main-logo-link {
color: black;
width: 334px;
height: 79px;
text-decoration: none;
}
.main-logo {
font-family: 'Roboto';
font-size: 80px;
line-height: 94px;
margin-top: 63px;
}
.main-logo-highlited {
    color: #4BCAFF;
}
.main-links {

    background: #35444F;
    display: flex;
    width: 1283px;
    height: 72px;
    justify-content: space-between;
    margin-top: 38px;
}
.main-links-item {

    color: white;
    display: flex;
    justify-content: center;
  
    margin: 20px;

}
.menu-item:hover {
    background: #222F3A;
}
.menu-item {
border-left: 1px solid white;
padding-left: 35px;
padding-right: 42px;
font-family: 'Roboto';
font-size: 24px;
line-height: 28px;
text-align: center;
}
.about-us-links {
    width: 344px;
height: 399px;
    display: inline-block;
    border: 1px solid black;
    margin-top: 48px;
    
}
.mt-26 {
    margin-top: 26px;
}
.about-us-links-item {
    
    color: #485863;
    font-size: 27px;
    line-height: 27px;
    font-family: 'Roboto';
    display: flex;
    justify-content: left;
    align-content: center;
    margin-left: 44px;
    margin-top: 30px;
}
 .about-us-links-item:hover {

    background: #DBDBDB;
    margin-left: 20px;
    color: #000000;
} 
.mt-52 {
    margin-top: 52px;
}
.about-us {
    display: flex;
}
.main-image {
    margin-top: 48px;
    margin-left: 52px;
 width: 885px;
height: 529px;
border: 1px solid black;
display: flex;
}
.main-image__logo {
    width: 320px;
    height: 381px;
    margin-left: 297px;
    margin-top: 75px;
    
}
.main-image__logo:hover {
    transform: scale(1.2); 
   }

.what-is-lorem {
    margin-top: 37px;
    width: 885px;
    height: 120px;
    font-family: 'Roboto';
font-size: 18px;
line-height: 24px;
color: #2C2C2C;
margin-left: 52px;
}
.lorem-ipsum {
    color: #2C2C2C;
    width: 885px;
height: 109px;
font-family: 'Roboto';
margin-top: 34px;
margin-left: 52px;
font-size: 18px;
line-height: 24px;
}
.footer-links {
    margin-top: 54px;
    width: 1283px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content:space-between;
}
.footer-links-item {
    display: flex;
    margin-top: 19px;
} 
    
   
.copy {
font-family:'Roboto';
font-size: 24px;
line-height: 24px;
color: #010101;
margin-top: 19px;
margin-right: 40px;
}
.footer-links-item_list {
  font-family: 'Roboto';
 font-size: 28px;
 line-height: 28px;
color: #0C1927;
 margin-left: 40px; 
}
.footer-links-item-trigger:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 8px;
}